<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    </head>
    <body>
        <h1> Hello World </h1>
       <p> {{greeting}}</p>
    <img src="/images/node-express.png" alt="Smiley face">

    </body>
</html>
